@charset "utf-8";

@media screen and (max-width: 768px) {

 body{
    font-size: 16px;
    font-family: sans-serif;
    
    background: rgb(201,143,1);
    background: radial-gradient(circle, rgba(201,143,1,1) 14%, rgba(255,102,45,1) 92%);
    text-align: center;
    transform: translateY(5em);

    h1{
        color: aliceblue;
        text-shadow: 0 0 8px azure;
    }
    
    form{
        background-color: rgba(193, 64, 0, 0.841);
        box-shadow: 0 0 10px black;
        border: solid 2px black;
    
        border-radius: 5%;
        padding: 4em;
        display: flex;
    
        margin: 0em 34em 0em 34em;
    }
    
    select{
        padding: 0.5em;
        text-align: center;
        transform: translateX(-3em);
        border-radius: 10px;
        box-shadow: 0 0 8px black;
        
    }
    
    input{
        transform: translateX(-1em);
        border-radius: 10px;
        box-shadow: 0 0 8px black;
    }
    
 }

 img{
    width: 100%;
 }
}

body{
    background: rgb(201,143,1);
background: radial-gradient(circle, rgba(201,143,1,1) 14%, rgba(255,102,45,1) 92%);
text-align: center;
transform: translateY(5em);
}

h1{
    color: aliceblue;
    text-shadow: 0 0 8px azure;
}

form{
    background-color: rgba(193, 64, 0, 0.841);
    box-shadow: 0 0 10px black;
    border: solid 2px black;

    border-radius: 5%;
    padding: 4em;
    display: flex;

    margin: 0em 34em 0em 34em;
}

select{
    padding: 0.5em;
    text-align: center;
    transform: translateX(-3em);
    border-radius: 10px;
    box-shadow: 0 0 8px black;
    
}

input{
    transform: translateX(-1em);
    border-radius: 10px;
    box-shadow: 0 0 8px black;
}